@font-face {
  font-family: 'Jedira';
  src: url('/fonts/Jedira_Font/jedira-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.jedira {
  font-family: 'Jedira' ,sans-serif;
}
.text_gradient0{
  background: linear-gradient(180deg, #F5F5F7, #626262);
  color: transparent;
  background-clip: text;
}
.text_gradient{
  background: linear-gradient(180deg, #F5F5F7, #626262);
  color: transparent;
  background-clip: text;
}
.button_glow:hover{
  transition: 150ms ease-out;
  &:hover{
    text-shadow: 0 0 5px white;
    filter: brightness(2);
    box-shadow: 0 0 5px white;
  }
}